:root {
    --scrollspy-height: 60px;
}

body {
    max-width: 600px;
    padding-bottom: 30vh;
    margin: 0 auto;
    scroll-behavior: smooth;
    line-height: 2em;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: var(--scrollspy-height, 2em);
    z-index: 12;
    overflow-y: hidden;
    text-align: center;
}

nav[aria-expanded="true"] {
    height: auto;
}

nav ul {
    margin: 0;
    padding: 0;
    transition: transform 100ms;
}

nav[data-scrollspy-target="whatsthis"] ul {
    transform: translateY(calc(-0 * var(--scrollspy-height)));
}

nav[data-scrollspy-target="motivation"] ul {
    transform: translateY(calc(-1 * var(--scrollspy-height)));
}

nav[data-scrollspy-target="smoothscroll"] ul {
    transform: translateY(calc(-2 * var(--scrollspy-height)));
}

nav[data-scrollspy-target="sticky"] ul {
    transform: translateY(calc(-3 * var(--scrollspy-height)));
}

nav[data-scrollspy-target="custom-property"] ul {
    transform: translateY(calc(-4 * var(--scrollspy-height)));
}

nav[data-scrollspy-target="source-code"] ul {
    transform: translateY(calc(-5 * var(--scrollspy-height)));
}

nav[aria-expanded="true"] ul {
    transform: translateY(0);
}

nav li {
    height: var(--scrollspy-height, 2em);
}

nav li:nth-of-type(1) {
    background-color: #ff0000;
}

nav li:nth-of-type(2) {
    background-color: #ff7f00;
}

nav li:nth-of-type(3) {
    background-color: #ffff00;
}

nav li:nth-of-type(4) {
    background-color: #00ff00;
}

nav li:nth-of-type(5) {
    background-color: #0000ff;
}

nav li:nth-of-type(6) {
    background-color: #6600ff;
}

nav li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    line-height: var(--scrollspy-height, 2em);
}

nav li:nth-of-type(3) a {
    color: gray;
}

nav button {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 100%;
    height: var(--scrollspy-height, 2em);
    padding: 0;
    padding-right: 0.5em;
    line-height: var(--scrollspy-height, 2em);
    text-align: right;
    text-decoration: none;
    cursor: pointer;
    transition: transform 300ms;
}

nav button[aria-expanded="true"] {
    width: auto;
    padding-right: 0.5em;
    transform: rotateX(180deg);
}

section {
    min-height: 80vh;
    padding: var(--scrollspy-height, 2em) 1em;
    border-bottom: 1px solid transparent;
}

section:nth-of-type(1) {
    background-color: #ffcccc;
}

section:nth-of-type(2) {
    background-color: #ffeacc;
}

section:nth-of-type(3) {
    background-color: #fffecc;
}

section:nth-of-type(4) {
    background-color: #c7f5c4;
}

section:nth-of-type(5) {
    background-color: #c4daf4;
}

section:nth-of-type(6) {
    background-color: #e1c4f4;
}

pre {
    margin: 1em;
    padding: 1em 0.5em;
    background-color: #eeeeee;
}

code {
    margin-left: 0.1em;
    margin-right: 0.1em;
    letter-spacing: 0.1em;
}

p code {
    text-decoration: underline;
    text-decoration-style: dashed;
}
